<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Integral Indefinida</title>
</head>
<body>
    <h1>Calculadora de Integral Indefinida</h1>
    <form method="POST">
        <label for="expressao">Expressão da Função:</label>
        <input type="text" id="expressao" name="expressao" required><br><br>
        <button type="submit">Calcular Integral</button>
    </form>
    <br />
    <h1>Resultado da Integral:</h1>
    <p>{{ resultado }}</p>
</body>
</html>
